@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

.logo {
  margin-right: -820px;
}

/* *********************** Common *********************** */

body {
  overflow-x: hidden;
}

.nav-item a {
  color: white;
}

.company-title a {
  color: white !important;
}


.fpage {
  max-width: 100%;
  height: 100vh;
  justify-content: center !important;
  align-items: center !important;
  padding-left: 100px;
  background-color: #0A2640 !important;
  overflow: hidden;
}

.head {
  margin-top: 40px;
  text-align: center;
}


/* *********************** Common *********************** */
.company-title {
  color: #65E4A3;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.home-page-nav-menu {
  color: #65E4A3;
  font-weight: 500;
}

.home-page-nav-menu:hover {
  color: #65E4A3 !important;
}

.back-to-home-btn:hover {
  box-shadow: 0 0 15px #65E4A3;
  color: black;
}

.contact-us-section {
  margin-top: 201px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: #0A2640;
  align-items: center;
  justify-content: center;
  color: white;
}

.contact-us-text {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.get-in-touch-button {
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 120px;
  text-align: center;
  padding: 10px;
}

.get-in-touch-button:hover {
  box-shadow: 0 0 15px black;
  color: white;
}

.footer-mohit {
  background-color: #000;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-content {
  margin-right: 20px;
}

/* *********************** Home page *********************** */
.req-quote-btn {
  background-color: mediumaquamarine;
  border-radius: 20px;
  /* border: 1px solid lightgray; */
  color: white;
  /* width: 120px; */
  /* text-align: center; */
  padding: 5px;
  /* color: black */
}

.req-quote-btn:hover {
  box-shadow: 0 0 15px #65E4A3;
  color: black !important;
}

.left-down-post {
  position: absolute;
  left: 50px;
  top: 150px;
}

.home-page-post-header {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.get-started-btn {
  border-radius: 20px !important;
  border: 1px solid #65E4A3 !important;
  color: white !important;
  align-items: center;
  width: 80px;
  height: 35px;
  text-align: center !important;
  justify-content: center;
  padding: 10px;
  color: black;
}

.test {
  margin-bottom: 10px !important;
}

.top-center-post h4 {
  margin-bottom: -35px;
}

.get-started-btn:hover {
  box-shadow: 0 0 15px #65E4A3;
  color: white;
}

.contact-us-btn {
  border-radius: 20px;
  border: 1px solid #65E4A3 !important;
  color: rgb(255, 255, 255) !important;
  width: 80px;
  text-align: center;
  padding: 10px;
  height: 30px;
}

.contact-us-btn:hover {
  box-shadow: 0 0 15px lightgray;
}

/* *********************** Services *********************** */
.top-center-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* testimonials */



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

.testimonial-container {
  background-color: #0A2640;
  color: #211b1b;
  border-radius: 5px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: #65E4A3;
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 30px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  border: 3px solid #65E4A3;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
  color: white;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #65E4A3 !important;
  height: 4px !important;
  width: 100% !important;
  margin-bottom: 40px !important;
  animation: grow 10s linear infinite !important;
  transform-origin: left !important;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}

.about {
  background-color: #0A2640;
  padding: 10px 10px 50px 90px;
}

.our-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
}


/* Heading */
.row-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}



input{
  border: none;
  border-radius: 15px;
  height: 35px;
  margin-right: -20px !important;
}
